/* line 6, ../scss/page.scss */
body {
  color: #444;
}

/* line 7, ../scss/page.scss */
h1 {
  font-size: 2.2em;
  margin: 0.5em 0;
}

/* line 8, ../scss/page.scss */
h2 {
  font-size: 1.8em;
}

/* line 9, ../scss/page.scss */
h3 {
  font-size: 1.2em;
}

/* line 10, ../scss/page.scss */
ul {
  padding: 0 0.5em;
}

/* line 11, ../scss/page.scss */
ol, li {
  list-style: none;
  margin-bottom: 1em;
  padding: 0;
}

/* line 17, ../scss/page.scss */
a {
  text-decoration: none;
}
/* line 19, ../scss/page.scss */
a:hover {
  text-decoration: underline;
}

/* line 24, ../scss/page.scss */
[data-role=footer], [data-role=header], [data-role=page] {
  background-image: none !important;
  -webkit-transition-property: background-color, color;
  -moz-transition-property: background-color, color;
  -ms-transition-property: background-color, color;
  -o-transition-property: background-color, color;
  transition-property: background-color, color;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -ms-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}

/* line 30, ../scss/page.scss */
.alert {
  -webkit-transition: top 500ms;
  -moz-transition: top 500ms;
  -ms-transition: top 500ms;
  -o-transition: top 500ms;
  transition: top 500ms;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute !important;
  overflow: hidden;
  padding-right: 40px !important;
  top: -5em;
  height: 3.5em;
  width: 100%;
}
/* line 39, ../scss/page.scss */
.alert.active {
  top: 2.5em;
}
/* line 42, ../scss/page.scss */
.alert .closer {
  position: absolute;
  right: 10px;
  top: 50%;
  margin: -12px 0 0 !important;
}

/* line 50, ../scss/page.scss */
pre {
  white-space: pre-wrap;
  font-size: 1.2em;
  font-weight: bold;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 55, ../scss/page.scss */
pre code {
  text-shadow: 0 0 0 transparent !important;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

/* line 61, ../scss/page.scss */
.sync-control {
  position: absolute;
  right: 0;
  top: 0;
}
