#connect {
    .meta {
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
    .qr-code {
        display: block;
        width: 310px;
        padding-top: 320px;
        background: url('../img/qr-code.png') left top no-repeat scroll transparent;
        margin: 0 auto;
        text-align: center;
    }
}