@import 'compass/css3/transition';
@import 'compass/css3/text-shadow';
@import 'compass/css3/border-radius';
@import 'compass/css3/box-sizing';

body { color: #444; }
h1 { font-size: 2.2em; margin: 0.5em 0; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.2em; }
ul { padding: 0 0.5em; }
ol, li {
	list-style: none;
	margin-bottom: 1em;
	padding: 0;
}

a {
	text-decoration: none;
	&:hover {
		text-decoration: underline;
	}
}

[data-role=footer],[data-role=header],[data-role=page] {
	background-image: none !important;
	@include transition-property((background-color, color));
	@include transition-duration(1s);
}

.alert {
	@include transition(top 500ms);
	@include box-sizing(border-box);
	position: absolute !important;
	overflow: hidden;
	padding-right: 40px !important;
	top: -3.5em;
	height: 3.5em;
	width: 100%;
	&.active {
		top: 2.5em;
	}
	.closer {
		position: absolute;
		right: 10px;
		top: 50%;
		margin: -12px 0 0 !important;
	}
}

pre {
	white-space: pre-wrap;
	font-size: 1em !important;
	@include border-radius(5px);
	code {
		@include text-shadow(0 0 0 transparent !important);
		@include border-radius(5px);
	}
}

.sync-control {
	position: absolute;
	right: 0;
	top: 0;
}