@import 'compass/css3/transition';
@import 'compass/css3/text-shadow';
@import 'compass/css3/border-radius';

body { color: #444; }
h1 { font-size: 2.2em; margin: 0.5em 0; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.2em; }
ul { padding: 0 0.5em; }
li { list-style: none; margin-bottom: 1em; }

[data-role=footer],[data-role=header],[data-role=page] {
	background-image: none !important;
}

.alert {
	@include transition(top 500ms);
	position: absolute !important;
	padding-right: 40px !important;
	overflow: hidden;
	top: -2.5em;
	&.active {
		top: 2.5em;
	}
	.closer {
		position: absolute;
		right: 10px;
		top: 50%;
		margin: -12px 0 0 !important;
	}
}

pre {
	@include border-radius(5px);
	code {
		@include text-shadow(0 0 0 transparent !important);
		@include border-radius(5px);
	}
}

.sync-control {
	float: right;
}