@import 'compass/css3/transition';
@import 'compass/css3/opacity';

#reach-page {
	position: relative;
	overflow: hidden;
}

#reach {
	overflow: hidden;
	.image {
		position: relative;
		background: none top left no-repeat scroll transparent;
		&.active {
			 @include transition(left 1s, right 1s);
		}
		&.jquery-logo {
			left: -250px;
			width: 235px;
			height: 61px;
			background-image: url('../img/jquery-mobile-logo.png');
			&.active {
				left: 1em;
			}
		}
		&.mobile-phones {
			left: -260px;
			width: 240px;
			height: 289px;
			background-image: url('../img/mobile-phones.png');
			&.active {
				left: 1em;
			}
		}
	}
}