@import 'compass/css3/transition';
@import 'compass/css3/opacity';

#syncing {
	.pusher-logo {
		position: absolute;
		background: url('../img/pusher-logo.png') top left no-repeat scroll transparent;
		left: -200%;
		width: 320px;
		height: 196px;
		margin-left: -160px;
		&.active {
			left: 50%;
			 @include transition(left 1s);
		}
	}
}