@import 'compass/css3/transition';

#themeable {
	ul {
		position: relative;
	}
	.coat-of-arms {
		width: 85px;
		height: 85px;
		margin: 0 auto;
		background: url('../img/spanish-coat-of-arms.png') left top no-repeat scroll transparent;
		&.active {
			@include transition(opacity 1s);
		}
	}
	 .jquery-themeroller {
		width: 288px;
		height: 197px;
		margin: 0 auto;
		background: url('../img/jquery-themeroller.png') left top no-repeat scroll transparent;
	}
}

#themeable-page.active {
	 background-color: #FEFF26 !important;
	 [data-role=header] {
		 background-color: #B90A16 !important;
	 }
	 [data-role=footer] {
		 background-color: #B90A16 !important;
	 }
}