.content { color: #444; }
.content h1 { font-size: 2.2em; margin: 0.5em 0; }
.content h2 { font-size: 1.8em; }
.content h3 { font-size: 1.2em; }
.content ul { padding: 0; }
.content li { list-style: none; margin-bottom: 0.5em; }